@tailwind base;
@tailwind components;
@tailwind utilities;

.rate_Veh{
  width: 49%;
  float: left;
  height:100%;
  background-color:beige; 
  padding-bottom: 200px;
}
.rate_vehtext{
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;

}
.rate_dri{
  width: 49%;
  float: right;
  height:100%;
  background-color:beige; 
  padding-bottom: 200px;
  
}
.rate_dritext{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    
}
.driverRateForm{
    margin-top: 70px;

}
.vehicleRateForm{
    margin-top: 70px;
}
.subButton_Driver{
    background-color:rgb(250,204,21);
    margin-top: 100px;
    margin-left:285px;
    padding-left: 50px;  
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.subButton_Vehicle{
    background-color:rgb(250,204,21);
    padding-left: 50px;  
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    margin-left:285px;
}
